<%- include('./partials/head.ejs') %>

<body class="text-gray-600 font-nunito">

  <div class="grid md:grid-cols-3"><!-- content wrapper-->
      
    <%- include('./partials/nav.ejs') %>

     <main class="px-16 py-6 bg-gray-100 md:col-span-2">
        <form action=""></form>        
     </main>

</body>
</html>