<%- include('./partials/head.ejs') %>

<body class="text-gray-600 font-nunito">

  <div class="grid md:grid-cols-3"><!-- content wrapper-->
      
    <%- include('./partials/nav.ejs') %>

     <main class="px-16 py-6 bg-gray-100 md:col-span-2">
        <form class="w-96 my-0 mx-auto p-8 bg-white rounded-lg shadow">
            <h2 class="text-3xl font-bold text-center">Add new recipe</h2>
            <label class="block mt-5 mb-2" for="recipe-name">Recipe name:</label>
            <input class="p py-2 px-3 w-full border border-gray-400 rounded" type="text" name="recipe-name" required />
            <label class="block mt-5 mb-2" for="recipe-snippet">Recipe snippet:</label>
            <input class="p py-2 px-3 w-full border border-gray-400 rounded" type="text" name="recipe-snippet" required />
            <label class="block mt-5 mb-2" for="ingrdients">Ingrdients:</label>
            <input class="p py-2 px-3 w-full border border-gray-400 rounded" type="text" name="ingrdients" required />
            <label class="block mt-5 mb-2" for="instuctions">Instructions:</label>
            <input class="p py-2 px-3 w-full border border-gray-400 rounded" type="text" name="instuctions" required />
            <button class="bg-primary rounded-full text-white p-2 mt-4">Sign up</button>
          </form>      
     </main>

</body>
</html>