<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Food Wick | <%= title %> </title>
</head>
<body class="text-gray-600 font-nunito">
  <div class="max-w max-w-5xl mx-auto px-10">
    <div class="my-5">
      <h1 class="text-4xl my-2 font-bold">Classic Cheesecake Recipe</h1>
      <p class="text-sm max-w-md flex items-start">
        <img class="mt-1" src="../img/6dots.svg" alt="dots">
        <span class="ml-2 mb-10 italic">Look no further for a creamy and ultra smooth classic cheesecake recipe! Paired with a buttery graham cracker crust, no one can deny its simple decadence. For the best results, bake in a water bath.</span>
      </p>
      <img class="w-full" src="../img/cheesecake.png" alt="cheesecake">
      </div>

      <div> <!-- ingredients-->
        <h3 class="font-bold my-3">Ingredients</h3>

        <div class="sm:grid sm:grid-cols-3">
          <div class="col-span-2">
            <div class="text-sm italic mt-6 mb-3">Graham Cracker Crust</div>

            <div class="sm:flex mb-2"> <!-- ingrdient list-->
              <input type="checkbox" name="" id="">
              <span class="text-sm ml-2 w-8/12">1 and 1/2 cups (150g) <strong class="text-gray-700">graham cracker crumbs</strong> (about 10 full sheet graham crackers)</span>
            </div>
            
            <div class="sm:flex mb-2"> <!-- ingrdient list-->
              <input type="checkbox" name="" id="">
              <span class="text-sm ml-2 w-8/12">5 Tablespoons (70g) <strong class="text-gray-700">unsalted butter</strong>, melted</span>
            </div>

            <div class="sm:flex mb-2"> <!-- ingrdient list-->
              <input type="checkbox" name="" id="">
              <span class="text-sm ml-2 w-8/12">1/4 cup (50g) granulated sugar</span>
            </div>

            <div class="text-sm italic mt-6 mb-3">Cheesecake</div>
          
          <div class="sm:flex mb-2"> <!-- ingrdient list-->
            <input type="checkbox" name="" id="">
            <span class="text-sm ml-2 w-8/12">four 8-ounce blocks (904g) full-fat cream cheese, softened to room temperature</span>
          </div>
          
          <div class="sm:flex mb-2"> <!-- ingrdient list-->
            <input type="checkbox" name="" id="">
            <span class="text-sm ml-2 w-8/12">1 cup (200g) granulated sugar</span>
          </div>
          
          <div class="sm:flex mb-2"> <!-- ingrdient list-->
            <input type="checkbox" name="" id="">
            <span class="text-sm ml-2 w-8/12">1 cup (240g) full-fat sour cream, at room temperature</span>
          </div>
          
          <div class="sm:flex mb-2"> <!-- ingrdient list-->
            <input type="checkbox" name="" id="">
            <span class="text-sm ml-2 w-8/12">1 teaspoon pure vanilla extract</span>
          </div>
          
          <div class="sm:flex mb-2"> <!-- ingrdient list-->
            <input type="checkbox" name="" id="">
            <span class="text-sm ml-2 w-8/12">2 teaspoons fresh lemon juice (optional, but recommended)</span>
          </div>
          
          <div class="sm:flex mb-2"> <!-- ingrdient list-->
            <input type="checkbox" name="" id="">
            <span class="text-sm ml-2 w-8/12">3 large eggs, at room temperature</span>
          </div>
          
          <div class="sm:flex mb-2"> <!-- ingrdient list-->
            <input type="checkbox" name="" id="">
            <span class="text-sm ml-2 w-8/12">topping suggestions: salted caramel, lemon curd, strawberry topping, chocolate ganache, red wine chocolate ganache, fresh fruit, whipped cream, or raspberry sauce (recipe in notes) </span>
          </div>
          </div>
          <div><!-- card goes here-->
            <div class="hidden py-10 px-3 w-40 shadow-lg rounded-lg sm:flex justify-center items-center">
              <ul>
                <div class="flex items-center">
                  <svg width="35" height="35" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.25 42.0001L6.15 39.9001L27.15 18.9001C26.4167 17.3001 26.25 15.6417 26.65 13.9251C27.05 12.2084 28 10.6001 29.5 9.10006C31 7.63339 32.8167 6.69172 34.95 6.27506C37.0833 5.85839 38.8333 6.33339 40.2 7.70006C41.6 9.10006 42.075 10.8501 41.625 12.9501C41.175 15.0501 40.1667 16.9001 38.6 18.5001C37.2333 19.9001 35.7083 20.8167 34.025 21.2501C32.3417 21.6834 30.7667 21.5834 29.3 20.9501L25.95 24.3001L41.55 39.9001L39.45 42.0001L23.85 26.4001L8.25 42.0001ZM14.5 24.4501L8.55 18.5001C6.85 16.8001 5.96666 14.7834 5.9 12.4501C5.83333 10.1167 6.6 8.05006 8.2 6.25006L20.45 18.5001L14.5 24.4501Z" fill="#FB923C"/>
                  </svg>
                  <p class="ml-2">
                    <span class="text-xs uppercase text-gray-400 block">yields</span>
                    <span class="text-xs text-orange-400">12 servings</span>
                  </p>
                </div>
                <li class="flex items-center my-5">
                  <svg class="mr-2 w-5" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <p>
                    <span class="text-1">Prep Time</span>
                    <span class="text-2">45 minutes</span>
                  </p>
                </li>
                <li class="flex items-center my-5">
                  <svg class="mr-2 w-5" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <p>
                    <span class="text-1">Cook Time</span>
                    <span class="text-2">1 hour</span>
                  </p>
                </li>
                <li class="flex items-center my-5">
                  <svg class="mr-2 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <p>
                    <span class="text-1">Total Time</span>
                    <span class="text-2">1.48 hours</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div> <!-- insructions -->
        <h3 class="font-bold my-5">Instuctions</h3>

        <ul>
          <li class="list">
            <div class="mr-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM14 17H12V9H10V7H14V17Z" fill="#FB923C"/>
              </svg>
            </div>
            <span class="text-sm ml-2 w-8/12 text-justify">Adjust the oven rack to the lower-middle position and preheat oven to 350°F (177°C).</span>
          </li>

          <li class="list">
            <div class="mr-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM15 11C15 12.11 14.1 13 13 13H11V15H15V17H9V13C9 11.89 9.9 11 11 11H13V9H9V7H13C14.1 7 15 7.89 15 9V11Z" fill="#FB923C"/>
              </svg>
            </div>
            <span class="text-sm ml-2 w-8/12 text-justify">Make the crust: Using a food processor, pulse the graham crackers into crumbs. Pour into a medium bowl and stir in sugar and melted butter until combined. (You can also pulse it all together in the food processor.) Mixture will be sandy. Press firmly into the bottom and slightly up the sides of a 9-inch or 10-inch springform pan. No need to grease the pan first. I use the bottom of a measuring cup to pack the crust down tightly. Pre-bake for 8 minutes. Remove from the oven and place the hot pan on a large piece of aluminum foil. The foil will wrap around the pan for the water bath in step 4. Allow crust to slightly cool as you prepare the filling.</span>
          </li>

          <li class="list">
            <div class="mr-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_13_10)">
                <path d="M19.01 3H5.01C3.91 3 3.01 3.9 3.01 5V19C3.01 20.1 3.91 21 5.01 21H19.01C20.11 21 21.01 20.1 21.01 19V5C21.01 3.9 20.11 3 19.01 3ZM15.01 10.5C15.01 11.33 14.34 12 13.51 12C14.34 12 15.01 12.67 15.01 13.5V15C15.01 16.11 14.11 17 13.01 17H9.01V15H13.01V13H11.01V11H13.01V9H9.01V7H13.01C14.11 7 15.01 7.89 15.01 9V10.5Z" fill="#FB923C"/>
                </g>
                <defs>
                <clipPath id="clip0_13_10">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
              </svg>
            </div>
            <span class="text-sm ml-2 w-8/12 text-justify">Make the filling: Using a handheld or stand mixer fitted with a paddle attachment, beat the cream cheese and granulated sugar together on medium-high speed in a large bowl until the mixture is smooth and creamy, about 2 minutes. Add the sour cream, vanilla extract, and lemon juice then beat until fully combined. On medium speed, add the eggs one at a time, beating after each addition until just blended. After the final egg is incorporated into the batter, stop mixing. To help prevent the cheesecake from deflating and cracking as it cools, avoid over-mixing the batter as best you can.</span>
          </li>

          <li class="list">
            <div class="mr-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM15 17H13V13H9V7H11V11H13V7H15V17Z" fill="#FB923C"/>
              </svg>              
            </div>
            <span class="text-sm ml-2 w-8/12 text-justify">Prepare the simple water bath (see note) Boil a pot of water. You need 1 inch of water in your roasting pan for the water bath, so make sure you boil enough. I use an entire kettle of hot water. As the water is heating up, wrap the aluminum foil around the springform pan. Pour the cheesecake batter on top of the crust. Use a rubber spatula or spoon to smooth it into an even layer. Place the pan inside of a large roasting pan. Carefully pour the hot water inside of the pan and place in the oven. (Or you can place the roasting pan in the oven first, then pour the hot water in. Whichever is easier for you.)</span>
          </li>

          <li class="list">
            <div class="mr-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM15 9H11V11H13C14.1 11 15 11.89 15 13V15C15 16.11 14.1 17 13 17H9V15H13V13H9V7H15V9Z" fill="#FB923C"/>
              </svg>               
            </div>
            <span class="text-sm ml-2 w-8/12 text-justify">Bake cheesecake for 55-70 minutes or until the center is almost set. When it's done, the center of the cheesecake will slightly wobble if you gently shake the pan. Turn the oven off and open the oven door slightly. Let the cheesecake sit in the oven in the water bath as it cools down for 1 hour. Remove from the oven and water bath, then cool cheesecake completely at room temperature. Then refrigerate the cheesecake for at least 4 hours or overnight.</span>
          </li>

          <li class="list">
            <div class="mr-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 15H13V13H11V15ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM15 9H11V11H13C14.1 11 15 11.89 15 13V15C15 16.11 14.1 17 13 17H11C9.9 17 9 16.11 9 15V9C9 7.89 9.9 7 11 7H15V9Z" fill="#FB923C"/>
              </svg>                           
            </div>
            <span class="text-sm ml-2 w-8/12 text-justify">Use a knife to loosen the chilled cheesecake from the rim of the springform pan, then remove the rim. Using a clean sharp knife, cut into slices for serving. For neat slices, wipe the knife clean and dip into warm water between each slice.</span>
          </li>
        </ul>

      </div>
  </div>

  <%- include('./partials/footer.ejs') %>

  <script src="../../app.js"></script>
</body>
</html>