<%- include('./partials/head.ejs') %>

<body class="text-gray-600 font-nunito">

  <div class="grid md:grid-cols-3"><!-- content wrapper-->
      
    <%- include('./partials/nav.ejs') %>

     <main class="px-16 py-6 bg-gray-100 md:col-span-2">
        <form class="w-96 my-0 mx-auto p-8 bg-white rounded-lg shadow">
            <h2 class="text-3xl font-bold text-center">Add new recipe</h2>

            <label class="block mt-5 mb-2" for="recipe-name">Recipe name:</label>
            <input class="p py-2 px-3 w-full border border-gray-400 rounded" type="text" name="recipe-name" required />

            <label class="block mt-5 mb-2" for="recipe-snippet">Recipe snippet:</label>
            <input class="p py-2 px-3 w-full border border-gray-400 rounded" type="text" name="recipe-snippet" required />

            <div class="grid grid-cols-4">
              <label class="col-span-4 block mt-5 mb-2" for="ingrdients">Ingrdients:</label>
              <div class="col-span-4 ingredient text-sm max-w-xs italic"></div>
              <input class="col-span-3 p py-2 px-3 w-full border border-gray-400 rounded" type="text" name="ingredient" required />
              <div class="mt-auto">
                <button class="ingredientBtn btn bg-secondary-200 text-secondary-100">Add</button>
             </div>
            </div>

            <div class="grid grid-cols-4">
              <label class="col-span-4 block mt-5 mb-2" for="instruction">Instructions:</label>
              <div class="col-span-4 instruction text-sm max-w-xs italic"></div>
              <textarea class="col-span-3 py-2 px-3 w-full h-50 border border-gray-400 rounded resize-none" name="instruction" id="" cols="" rows="5"></textarea>
              <div class="mt-auto">
                <button class="instructionBtn btn bg-secondary-200 text-secondary-100">Add</button>
             </div>
            </div>

            <button class="bg-primary btn text-white mt-4 ml-0">Submit</button>
          </form>      
     </main>

     <%- include('./partials/footer.ejs') %>

     <script src="./app.js"></script>
</body>
</html>